@model DOANLTWT3BANDIENTHOAIDIDONG.Models.CAtegory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLAyout.cshtml";
}

<h2 class="bg-success">Cập Nhật Danh Mục</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model=> model.CategoryID)
       @Html.Partial("PVCreateEditCategory",Model)
    </div>
}
