@model IEnumerable<DOANLTWT3BANDIENTHOAIDIDONG.Models.CAtegory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLAyout.cshtml";
}

<h2 class="bg-success">Danh Mục Sản Phẩm</h2>


<table class="table">
    <tr>
        <th class="bg-success col-md-8">
           Tên Danh Mục
        </th>
        <th class="bg-success col-md-4"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.CategoryID }, new { @class = "btn btn-primary btn-sm" })
            @*@Html.ActionLink("Details", "Details", new { id=item.CategoryID })*@ 
            @Html.ActionLink("Xóa", "Delete", new { id=item.CategoryID }, new {@class="btn btn-primary btn-sm"})
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Thêm Mới","Create",null , new {@class="btn btn-primary"})
</p>
