@model DOANLTWT3BANDIENTHOAIDIDONG.Models.CAtegory

<div class="form-group">
    <div class="control-label col-md-2">
        Tên Danh Mục 
    </div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.CategoryName, new {htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CategoryName,"",new {@class="text-danger"})
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Lưu" class="btn btn-primary"/>
        @Html.ActionLink("Quay lại danh sách ", "Index", null, new {@class="btn btn-primary"})
    </div>
</div>
