@model DOANLTWT3BANDIENTHOAIDIDONG.Models.Product

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLAyout.cshtml";
}

<h2 class="bg-success">Thêm Sản Phẩm</h2>
@using (Html.BeginForm("Create", "AdminProducts", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true,"",new {@class="text-danger"})
        @Html.Partial("PVCreatedEditProduct",Model)
        <div class="form-group" >
            <div class="col-md-offset-2 col-md-10" >
                <input type="submit" value="Thêm Mới" class="btn btn-primary"/>
                @Html.ActionLink("Quay Lại Danh Sach","Index",null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
            }
       